/* General Styles */
:root {
  --white: hsl(0, 0%, 100%); /* White */
  --slate-300: hsl(212, 45%, 89%); /* Slate 300 */
  --slate-500: hsl(216, 15%, 48%); /* Slate 500 */
  --slate-900: hsl(218, 44%, 22%); /* Slate 900 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--white);
  color: var(--slate-500);
  font-size: 1rem; /* Font size for paragraphs */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  line-height: 1.4;
}

h1 {
  color: var(--slate-900);
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

p {
  color: var(--slate-500);
  margin-bottom: 1.875rem;
}

/* QR Card */
.qr-card {
  background-color: var(--slate-300);
  border-radius: 1rem;
  padding: 1.25rem;
  max-width: 20rem;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.qr-image {
  width: 100%;
  border-radius: 0.625rem;
}

/* Attribution Section */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1.875rem;
  color: var(--slate-500);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 375px) {
  .qr-card {
    padding: 1rem;
  }
  h1 {
    font-size: 1.125rem;
  }
  p {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1440px) {
  .qr-card {
    padding: 1.5rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1rem;
  }
}
