/* General Styles */
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 24px;
  margin: 20px 0;
}

p {
  color: hsl(216, 15%, 48%);
  margin: 0 0 30px;
}

/* QR Card */
.qr-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 20px;
  max-width: 300px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.qr-image {
  width: 100%;
  border-radius: 10px;
}

/* Attribution Section */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
  color: hsl(216, 15%, 48%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
